.MMM-BMWCarData .bmw-container {
  width: 280px;
  line-height: 1.50;
  font-size: 20px;
  padding: 0;
  position: relative;
  text-align: left;
}

.MMM-BMWCarData .bmw-container img {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 220px;
  max-height: 95px;
  top: 35px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.MMM-BMWCarData .bmw-container .fas {
  width: 30px;
  text-align: center;
}

.MMM-BMWCarData .bmw-container .locked {
  width: 30px;
}

.MMM-BMWCarData .bmw-container .plugged {
  margin-left: -3px;
  margin-right: -3px;
}

.MMM-BMWCarData .bmw-container .mileage {
  float: right;
}

.MMM-BMWCarData .bmw-container .fuelRange {
  float: right;
}

.MMM-BMWCarData .bmw-container .updated {
  font: 16px, Sans-Serif;
  white-space: nowrap;
  margin-left: -3px;
}

.MMM-BMWCarData .bmw-container.spacer {
  height: 50px;
}
